body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.row-for-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(250, 250, 250, 1); /* off-white */
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    height: auto;
    margin-top: 3rem;

}


.card span {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

hr {
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
}

.card-footer {
    position: relative;
    bottom: 0px;
    margin: 5px;
}

.card-header{
    height: 40px;
    padding-top: 20px;
}

.navbar {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
}


@media (min-width: 768px) {
    #loginModal {
        top: 15%;
    }

    #registerModal {
        top: 15%;
    }

    .modal-sm {
        width: 50%;
    }
}

/*Auth screen*/
@media (min-width: 768px) {
    .step-row {
        display: flex;
        align-items: center;
    }

    .h2 {
        font-family: Muli Black, sans-serif;
        font-size: 45px;
        line-height: 1.1em;
        font-weight: bold;
    }

    .step-content {
        width: 282px;
    }

    .h6 {
        line-height: 1em;
        font-size: 20px;
        font-family: Muli, sans-serif;
    }
}

@media (max-width: 767px) {
    .step-row {
        text-align: center;
    }

    .h2 {
        font-size: 25px;
        font-weight: bold;
    }

    .h6 {
        font-size: 15px;
    }
}

.bt-text-area {
    margin: 0 auto;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.download-btn {
    height: 48px;
    width: 242px;
    border-radius: 900px;
    cursor: pointer;
    border: 0px none rgba(3, 150, 255, 0);
    background: rgba(94, 148, 255, 0.996);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;

    font-family: "Lato Black", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-style: initial;
    color: rgba(255, 255, 255, 0.996);
    text-decoration: none;
}

.download-btn:active {
    border: none;
}

#footer {
    border-radius: 0px;
    background: rgba(51, 51, 51, 0.996);
    height: 200px;
    min-height: 50px;
    border: 0px none rgb(0, 0, 0);
    display: flex;
    align-items: center;
    /*margin-top: 30px;*/
}

#footer p {
    color: white;
}

#footer .footer-contact-info_title {
    font-weight: bold;
    font-size: 15px;
}

#footer .footer-contact-info_content {
    font-size: 13px;
}
/*End Auth*/

.invalid-feedback {
    color: red;
}

.step-two {
    color: white;
    background: black;
    margin-top: 50px;
}
